/laravel54/node_modules
/laravel54/public/hot
/laravel54/public/storage
/laravel54/storage/*.key
/laravel54/vendor
/laravel54/.idea
/laravel54/.vagrant
/laravel54/Homestead.json
/laravel54/Homestead.yaml
/laravel54/npm-debug.log
/yarn-error.log
/laravel54/.env
/课程材料
